body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.clearer{
	clear: both;

}

.calendar_container{
	color: #eee;
}

.year_calendar{
	display: block;
}

.month{
	position: relative;
	float: left;
	display: inline-block;
	height: 204px;
	width: 210px;
	padding: 10px;
	background-color: #222;
	border: thin solid #333;
	transition: 0.5s all ease;
}

.month.selected{
	width: 930px;
	height: 680px;
}
.month.selected .day{
	width: 130px;
	height: 100px;	
	border: thin solid #333;
}

.month.selected .dayname{
	width: 130px;
	height: 100px;	
	border: thin solid #333;
}


.month.selected .monthname_container :before{
	content: " ";
	display: block;
	position: relative;
	float: left;
	width: 0px;
	height: 0px;
	clear: both;
	margin-top: 10px;
	margin-left: -40px;
	border-top: 10px solid transparent;           
	border-bottom: 10px solid transparent;
	border-right: 10px solid #f55;
}

.month.selected .monthname_content {
	padding-left: 50px;
	font-size: 30px;
}


.month.hide{
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	border: none;
	opacity: 0.0;
}

.month.selected .day.selected{
	width: 900px;
	height: 600px;
}

.month.selected .day.selected .day_content{
	opacity: 0.0;
}

.month.selected .day.hide{
	width: 0;
	height: 0;
	opacity: 0.0;
}

.month.selected .dayname.hide{
	width: 0;
	height: 0;
	opacity: 0.0;
}

.day{
	position: relative;
	float: left;
	width: 30px;
	height: 30px;	
	transition: 0.5s all ease;
}

.day_content{
	padding: 5px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	transition: 0.2s all ease;
	font-family: "Quicksand";
	font-weight: 400;
}

.day_content:hover{
	background-color: white;
	color: black;
}

.dayname{
	position: relative;
	float: left;
	width: 30px;
	height: 30px;	
	color: #444;
	transition: 0.5s all ease;
}

.dayname_content{
	padding: 5px;
	font-family: "Quicksand";
	font-weight: 700;
}

.monthname_content{
	color: #f55;
	font-family: "Quicksand";
	font-weight: 400;
	transition: 0.5s all ease;
}

.monthname_container{
	padding-top: 5px;
	transition: 0.5s all ease;
}

.month_calendar{
	display: none;
}

.day_calendar{
	display: none;
}